<div id="product-container" class="produto-wrapper" itemscope itemtype="http://schema.org/Product">
    <span id="span_erro_carrinho"></span>
    <div id="loading-product-container">
        <img src='{{ tray.paths.system_image }}/big-loading.svg' />
    </div>
    <div id="title">
        {% element 'snippets/breadcrumb' %}
    </div>
    <div class="row">
        <div class="col-md-7 no-padding">
            <h2 class="product-title visible-xs visible-sm">{{ product.name }}</h2>
            <div id="visualBlock" class="product-gallery">
                {{ productHelper.gallery() }}
            </div>
            <div class="product-social">
                {{ productHelper.social() }}
            </div>
            <div class="product-links">
                {% if settings.compare %}
                  <span id="comparar">
                      {% element 'product/compare' {
                          'product': product,
                          'links': links
                      } %}
                  </span>
                {% endif %}
            </div>
        </div>
        <div class="col-md-5">
            <h1 class="product-title hidden-xs hidden-sm">{{ product.name }}</h1>
            {% element 'product/rating' %}
            <div class="product-labels clearfix">
                {% if product.additional_button == 1 %}
                    <span class="blackfriday-tag">
                        <strong>PROMOÇÃO</strong>
                    </span>
                {% endif %}
                {{ productHelper.labels() }}
            </div>
            <span class="product-id">
              {{ Translation('codigo') }}:
              <strong>
                  {{ product.id }}
              </strong>
            </span>
            <p class="product-details">
                {{ productHelper.details() }}
                {{ productHelper.icons() }}
            </p>
            {{ productHelper.bonus() }}
            <form id="form_comprar" method="post" data-app="product.buy-form" action="{{ links.cart_add ~ product.id }}">
                {{ productHelper.pricing() }}
                {{ productHelper.variants() }}
                {{ product.additional_information }}
                {{ productHelper.gifts() }}
                {{ productHelper.form() }}
                {{ productHelper.wishlist() }}
                {{ productHelper.shipping() }}
            </form>
            <p class="product-message">
                {{ product.additional_message }}
            </p>
        </div>
    </div>
</div>

<div id="ProdBlock">
    <div id="loading-tab-container">
        <img src='{{ tray.paths.system_image }}/big-loading.svg' />
    </div>
    <a name="formaPagto"></a>
    <div id="ProdAbas" class="abasProduto">
        <ul>
            {% for key, tab in productTabs %}
              {% if tab.container_id %}
              <li id="{{ tab.id }}" {% if key=='description' %}class="aberta" {% endif %}>
                <a href="#" data-tab-container-id="{{ tab.container_id }}" data-tab-url="{{ tab.url }}">{{ tab.description }}</a>
              </li>
              {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div id="descricao" class="prodBox">
        <div class="board">
            <div class="board_htm description">
                {{ product.description ? product.description : product.description_small }}
            </div>
        </div>
    </div>

    <div id="itensInclusos" class="prodBox">
        <div class="board">
            {{ product.included_items }}
        </div>
    </div>

    <div id="coments" class="prodBox">
        <div class="board">
            {% element 'product/comments' %}
        </div>
    </div>

    <div id="caracteristicas" class="prodBox">
        <div class='board'>
            {% element 'product/properties' %}
        </div>
    </div>

    {{ productTabs.custom.content }}
    {{ productTabs.downloads.content }}

    <div id="garantia" class="prodBox">
        <img class="loader" src="{{ tray.paths.system_image }}/big-loading.svg" style="display:none;" />
    </div>
    <div data-app="product.payment-methods" id="formasPagto" class="prodBox" style="display:none;" ></div>
</div>

{{ productHelper.bundle() }}

{% if product.related_products %}
<div class="products-related">
    <h3 class="related-title">Produtos Relacionados</h3>
    <div class="row">
        {% for related in product.related_products %}
            <div class="col-sm-6 col-md-3">
              {% element 'snippets/product' {"product": related} %}
            </div>
        {% if loop.index is divisible by(4) %}
    </div>
    <div class="row">
          {% endif %} {% endfor %}
    </div>
</div>
{% endif %}
